@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Playfair Display', serif;

    color: #2c2c2c;
}

a {
    text-decoration: none;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}


/* Navbar */
nav {
    height: 10vh;
    background-color: #141414;
    position: absolute;
    top: 0;
    bottom: 4%;
    /* z-index: 3; */
    width: 100%;
}

nav:hover {
    background-color: #3c0a26;
}

/* Normal View Nav */
nav .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    width: 62%;
    height: 100%;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    padding-right: 2rem;
}

nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav .nav-links li a:hover {
    text-decoration: underline;
}

nav .nav-links li {
    padding: 4px 7px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

nav .nav-links li:hover {
    /* background-color: #0000006c; */
    border-radius: 3px;
    padding: 4px 7px;
    /* font-size: 26px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    transform: scale(1.1);
}

/* Navbar */

/* SECTION 1 */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.header .heading {
    /* border-bottom: 3px solid #ff9ac9; */
}

.header .heading h1 {
    font-weight: 700;
}

/* .header .content-navigation div {
    background-color: #3f3d57be;
    height: auto;
    width: auto;
    padding: 0.4rem 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    border: 2px solid #3f3d57;

} */


.header .content-navigation .nav-style {
    font-size: 18px;
    font-weight: 700;
    background-color: #500f33;
    width: 200px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 1rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 1); */
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.nav-style:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

/* Section 2 */
.services .img-nd-description {
    margin-top: 8rem;
    overflow: hidden;
}

.services .img-nd-description h4 {
    font-weight: 700;
    font-size: 30px;
}

.services .img-nd-description p {
    font-size: 17px;
    text-align: justify;
}

/* Section 3 Contact */
.contact-section .contact {
    transition: 0.5s;
}

.contact-section .contact:hover {
    transform: scale(1.1);
}

.contact-section .contact h4 {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
    color: white;
}

@media screen and (max-width: 1040px) {

    /* NAVBAR */
    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #161623;
        margin: 5px;
    }

    /* Nav Position */
    nav {
        position: absolute;
        top: 0;
        background: transparent;
    }

    nav:hover {
        background: transparent;
    }

    /* Nav Icon */
    nav .hamburger {
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 8;
    }

    /* Nav Ul Animation */
    nav .nav-links {
        position: relative;
        z-index: 6;
        background-color: #41143d;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        -moz-clip-path: circle(100px at 90% -15%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        top: -100px;
    }

    /* For Animation Js Onclick */
    .nav-links.open {
        clip-path: circle(800px at 90% -11%);
        -webkit-clip-path: circle(1000px at 90% -11%);
        -moz-clip-path: circle(1000px at 90% -11%);
        pointer-events: all;
        font-size: 20px;
        padding: 0;
    }

    .nav-links li {
        /* opacity: 0; */
        padding: 2px 5px;
        font-size: 1rem;
    }

    /* NAVBAR */
}