/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Playfair Display', serif;

    color: white;
}



/* SECTION 1 */
/* Header Section */
.header-section {
    background-image: url(./index-images/mohsen-samimi-JlOmY2njZxE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* z-index: 4; */
    min-height: 100vh;
    width: 100%;
}

.header-section .header-overlay {
    background-color: rgba(0, 0, 0, 0.651);
    /* position: relative; */
    /* z-index: 5; */
    min-height: 100vh;
    width: 100%;
}


/* Navbar */
nav {
    height: 10vh;
    background-color: #000000a8;
    position: relative;
    /* z-index: 3; */
    width: 100%;
}

nav:hover {
    /* background-color: #3c0a26; */
}

/* Normal View Nav */
nav .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    width: 62%;
    height: 100%;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    padding-right: 2rem;
}

nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav .nav-links li a:hover {
    text-decoration: underline;
}

nav .nav-links li {
    padding: 4px 7px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

nav .nav-links li:hover {
    /* background-color: #0000006c; */
    border-radius: 3px;
    padding: 4px 7px;
    /* font-size: 26px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    transform: scale(1.1);
}

/* Navbar */


/* Page Heading */
.header-overlay .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.header-overlay .header-content h4 {
    border-bottom: 1px solid white;
}

.header-overlay .header-content h1 {
    font-size: 3.5rem;
}

.header-overlay .header-content .heading-details {
    font-size: 20px;
    text-align: justify;
}

/* TYPING ANIMATION */
.main-section .write {
    display: flex;
    justify-content: center;
}

.main-section .write .typing {
    /* position: relative; */
    margin-left: 10px;
}

.main-section .write .typing ::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-radius: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Section 2 Diffrence */
.diffrence-section {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    transition: all .5s ease;
}

span.fade2 {
    color: #3b3b3b;
    font-weight: bold;
}

.diffrence-section .dif-cards div {
    text-align: center;
    background-color: #fef6faa7;
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    color: #202020;
}

.diffrence-section .dif-cards div p {
    text-align: justify;
}



/* Section 3 Services */
.potential {
    color: #252525;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.potential .service-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.potential .service-img img {
    margin: 1rem 1rem 1rem 0rem;
}

/* Service Button */
.potential .buttons {
    width: min-content !important;
    background-color: #87009c;
    color: white !important;
    margin-right: auto;
    border: none;
    outline: none;
    padding: 10px 11px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;

    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.potential .buttons:hover {
    box-shadow: 0 0 20px rgba(133, 0, 115, 0.6);
    transform: scale(1.1);
}


/* Section 4 About Us*/
.about {
    padding-bottom: 4rem;
    /* margin-top: 2rem; */
    position: relative;
    color: rgb(37, 37, 37);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    /* margin: 1rem 0 0 0; */
    /* background-image: linear-gradient(white, #ffd4ff); */
}

.about .heading {
    border-bottom: 3px solid #ff9ac9;
    margin-bottom: 1rem;
}

.about .heading h1 {
    font-weight: 700;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;

}

.about .about-content h3 {
    font-size: 32px;
    margin-bottom: 1rem;
}

.about .about-content>p {
    font-size: 20px;
    text-align: justify;
}

.about .about-content span a {
    /* font-size: 1.6rem; */
    text-decoration: none;
    font-weight: 700;
    color: #ff6584;
}

/* OFFICE EMPLOYEE CLIENT */
.about .about-content .OEC {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.about .about-content .OEC .cards {
    overflow: hidden;
}

.about .about-content .OEC .cards img {
    height: 300px;
    border-radius: 6px;
}

.about .about-content .OEC h1 {
    font-weight: 700;
    color: #a3004c;
}

.about .about-content .OEC p {
    font-size: 18px;
}

/* Slider */
.slick-next:before {
    content: none !important;
}



/* Section 5 Contact */
.contact {
    position: relative;
    height: auto;
    background-image: url(./index-images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

/* Background Overlay */
.contact .contact-overlay {
    background-color: #140e14dc;
    height: 100%;
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
}

/* CONTACT AND FORM */
.contact .contact-and-form {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

/* FORM */
.form-content {
    width: auto !important;
    padding: 1rem !important;
}

.form-control {
    width: 119%;
}


.contact form .form-floating {
    z-index: 1 !important;
}

.contact form input {
    border-radius: 0 !important;
}

/* Form Btn */
.contact form .form-btn {
    width: min-content;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #f7022b;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
    border-radius: 3px;
    padding: 10px 30px;
}

input {
    color: #5D5D5D !important;
}

form label {
    color: #5D5D5D !important;
}



/* FOOTER */
footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1600px) {
    .nav-links li {
        padding: 2px 5px;
    }

    .nav-links li a {
        /* font-size: 14px !important; */
    }

}

@media screen and (max-width: 1600px) {

    /* Section 3 */
    .potential {
        margin-bottom: 6rem;
    }
}


@media screen and (max-width: 1080px) {

    /* SECTION 1 BG IMAGE */
    .header-section {
        height: auto;
        width: auto;
    }

    .header-overlay .header-content {
        padding: 0;
        margin: 2rem;
    }

    .header-overlay .header-content .heading-details {
        text-align: justify;
    }


    /* NAVBAR */
    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    /* Nav Position */
    nav {
        position: relative;
    }

    /* Nav Icon */
    nav .hamburger {
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 8;
    }

    /* Nav Ul Animation */
    nav .nav-links {
        position: relative;
        z-index: 6;
        background-color: #41143d;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        -moz-clip-path: circle(100px at 90% -15%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        top: -100px;
    }

    /* For Animation Js Onclick */
    .nav-links.open {
        clip-path: circle(800px at 90% -11%);
        -webkit-clip-path: circle(1000px at 90% -11%);
        -moz-clip-path: circle(1000px at 90% -11%);
        pointer-events: all;
        font-size: 20px;
        padding: 0;
    }

    .nav-links li {
        /* opacity: 0; */
        padding: 2px 5px;
        font-size: 1rem;
    }

    /* NAVBAR */


    /* SECTION 2 */
    .diffrence-section {
        position: relative;
        top: -2rem;
        padding: 5rem 4rem 0 4rem;
    }


    .diffrence-section .dif-cards div {
        text-align: start;
    }

    /* Section 3 */
    /* .potential {
        margin-bottom: 7rem;
    } */

    .potential .service-btn {
        text-align: center;
    }

    .potential .service-img {
        justify-content: center;
    }

    /* SECTION 4 */
    .about {
        background-image: none;
        height: auto;
        padding-top: 4rem;
    }

    .about .about-content h3 {
        text-align: start;
    }

    .about .about-content p {
        text-align: justify !important;
    }

    .about .about-content .OEC .cards p {
        text-align: center !important;
    }

    .about .about-content .OEC .cards img {
        height: auto;
        width: auto;
    }

    /* SECTION 5 */
    .contact {
        height: auto;
        width: auto;
    }

    .contact .contact-details {
        padding-left: 1rem;
    }

    .contact-details .g-map iframe {

        height: auto !important;
        width: auto !important;
    }

    /* FORM */
    .form-content form input {
        width: 130% !important;
    }

    /* CONTACT AND FORM */
    .contact .contact-and-form {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contact .contact-and-form .form-content {
        margin-right: auto;
    }

    /* li Item Animation */
    /* .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    } */
}